{% extends "base.html" %}

{% block title %}Tableau de bord - Chambre froide{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-4">Modifier l'alerte n° {{ alert.id_alerts }}</h2>
    <div class="container mx-auto p-6">
        <p>Date incident : {{ alert.created_at }} </p>
        <p>Date dernière mis à jour : {{ alert.updated_at }}</p>
    </div>

    <form method="POST">
        <div class="mb-4">
            <label class="block text-gray-700">Commentaire alerte</label>
            <textarea name="comment" class="w-full p-2 border rounded">{{ alert.comment }}</textarea>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">État</label>
            <select name="state" class="w-full p-2 border rounded">
                <option value="0" {% if alert.states == 0 %}selected{% endif %}>Non traitée</option>
                <option value="1" {% if alert.states == 1 %}selected{% endif %}>En cours</option>
                <option value="2" {% if alert.states == 2 %}selected{% endif %}>Traitée</option>
            </select>
        </div>

        <div class="flex space-x-4">
            <button type="submit" name="edit" class="bg-blue-500 text-white px-4 py-2 rounded">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}