<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <!-- Bandeau supérieur -->
    <header>
        <h1>Tableau de bord - Chambres froides</h1>
    </header>

    <div class="login-center">
        <div class="login-container">
            <h2>Connexion</h2>
            <form action="submit_form" method="post">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>

    <!-- Pied de page -->
    <footer>
        <p>&copy; 2025 Chambre froide dashboard</p>
    </footer>

</body>
</html>